@use './variables.scss' as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  background-color: $layout-bg;
  color: #1f2329;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100%;
}
